body{
    background-color: #000000;
    background-image: url('images/background.jpg');
    background-size: cover;       
    background-attachment: fixed;
}

h1 {
    font-size: 32px;
    text-align: center;
}
h2 {
    font-size: 22px;
    text-align: center;
}


aside {
    background-color: rgba(153, 0, 0, 0.392);
    color: #ffffff;
    margin: 50px auto;
    text-align: justify;
    width: 80%;
    box-sizing: border-box;
    padding: 20px;
    font-family: 'Arial';
    font-size: 18px;
    font-weight: 270;
    backdrop-filter: blur(5px);
}

footer {
    background-color: rgba(49, 49, 49, 0.5);
    color: rgb(220, 220, 220);
    font-family: 'Arial';
    font-size: 15px;
    font-weight: 270;
    padding: 20px;
    text-align: right;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
}

.floating-home-button {
    position: fixed; /* Фиксированное положение */
    right: 30px;     /* Отступ справа */
    bottom: 65px;    /* Отступ снизу */
    width: 60px;     /* Ширина */
    height: 60px;    /* Высота */
    background-color: #711111; /* Цвет фона */
    color: white;    /* Цвет текста */
    border-radius: 50%; /* Круглая форма */
    text-align: center;
    line-height: 60px; /* Вертикальное выравнивание текста */
    font-size: 16px;
    font-weight: bold;
    text-decoration: none; /* Убираем подчеркивание */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Тень */
    z-index: 999;    /* Поверх других элементов */
    transition: all 0.3s ease; /* Плавные анимации */
    opacity: 0.9;    /* Легкая прозрачность */
}

.floating-home-button:hover {
    background-color: #9d1616; /* Темнее при наведении */
    box-shadow: 0 6px 12px rgba(0,0,0,0.3); /* Увеличиваем тень */
    transform: scale(1.1); /* Увеличиваем размер */
    opacity: 1;      /* Убираем прозрачность */
}

.floating-home-button::before {
    content: "⌂";    /* Символ домика */
    font-size: 30px;
}